<%- include('../partials/header.ejs') %>
		<header>
			<h1>Create a Book, NEW PAGE</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/books">Book Index Page</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/books" method="post">
				<select name="userId">
						<% for(let i = 0; i < users.length; i++) { %>
								<option value="<%=users[i]._id%>"><%=users[i].username%></option>
						<% } %>
				</select><br/>
				<input type="text" placeholder="Category" name="improvement" /><br/>
				<input type="text" placeholder="img url" name="img" /><br/>
				<input type="text" placeholder="Title"  name="title" /><br/>
				<input type="text" placeholder="Description"  name="caption" /><br/>
				<input type="submit" value="Post Book"/>
		</form>
		</main>
	</body>
</html>