<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
    <header>
      <div class="login">
        <!-- <h1>Goal Loops</h1> -->
        <% if(!user) { %> 
          <a href="/login">Login</a>
          <a href="/registration">Register</a>
        <% } else { %> 
          <a href='users/logout'>Log Out</a>
        <% } %> 
        </div>
        <nav>
          <ul>
            <!-- <li>
              <a href="/users">User</a>
            </li>
            <li>
              <a href="/books">Books</a>
            </li> -->
          </ul>
        </nav>
      <div class="box">
          <img id="first" src="https://images.unsplash.com/photo-1512820790803-83ca734da794?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1974&q=80" alt="books">
          <div class="text">
            <h1>Goals Help People Accomplish</h1>
          </div>
      </div>
      <%= message %>
    </header>
    <div class="box2">
        <h2>Help Yours Happen Now</h2>
  </div>  
  <div class="box3">
      <a class="box3" href="/registration"> Get Started</a>
      <!-- <a href="/login">Login</a> -->
      <!-- <h3>Get Started</h3> -->
</div>  

  
</body>
</html>