<%- include('./partials/header.ejs') %>
    <header>
        <h1>Goal Loops</h1>
        <% if(!user) { %> 
          <a href="/login">Login</a>
          <a href="/registration">Register</a>
        <% } else { %> 
          <a href='users/logout'>Log Out</a>
        <% } %> 
        <nav>
          <ul>
            <li>
              <a href="/users">User</a>
            </li>
            <li>
              <a href="/books">Books</a>
            </li>

          </ul>
        </nav>
      </header>
      <header><%= message %></header>


  
</body>
</html>