<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
  <title>Document</title>
</head>
<body>
  <header>
   <h1> Users Index </h1>
  <nav>
    <!-- <ul>
      <li>
        
        <a href="/users/logout">Log Out</a>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="users/new">Create a new User</a>
      </li>
    </ul> -->
  </nav>
  </header>
  <main>
    <h2> List of Users</h2>
    <ul>
      <% for(let i = 0; i < users.length; i++) { %>
        <li>
          <a href="/users/<%=users[i]._id%>"><%=users[i].username %></a>
        </li>
        <% } %>
    </ul>
  </main>
</body>
</html>