<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <header>
        <h1>Show Page for <%=user.username%></h1>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/users">Author Index</a>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <section>
          <h2>User Attributes:</h2>
          <ul>
            <li>Username: <%=user.username%></li>
          </ul>
        </section>
        <section>
            <form action="/users/<%=user._id%>?_method=DELETE" method="post">
                <input type="submit" value="Delete User"/>
            </form>
        </section>
      </main>
</body>
</html>